{% extends 'base.html' %}
{% block content %}

    <h1>{% block title %} Entraînements {% endblock %}</h1>
    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FParis&showPrint=0&mode=WEEK&showTz=0&title=Planning%20des%20entra%C3%AEnements&src=MzU2MjkzOTllMGYzNTg5ZTlkZTZmOTZkMzgzN2YzNjRiNzdjMjI2NGYyNzIzODQ5ZmE5ZTY2ZmZmMDVmYmRlZEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23F09300"
            style="border:solid 1px #777" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
{% endblock %} 
 
